.category-banner-container {
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin-bottom: 40px;
}

.category-banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
